name: build

permissions:
  contents: write

on:
  push:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build'
        required: false
        default: ''
  #schedule:
    #- cron: '0 19 * * *'  # Every day at 20:00 CET (19:00 UTC)

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  linux:
    runs-on: ubuntu-22.04
    timeout-minutes: 180
    steps:

    - name: Get latest release/prerelease tag from prusa3d/PrusaSlicer
      id: get_release
      run: |
        # Fetch the most recent release (includes prereleases / betas)
        release=$(curl -s https://api.github.com/repos/prusa3d/PrusaSlicer/releases | jq -r '.[0].tag_name')
        echo "Latest release tag: $release"
        echo "release_tag=$release" >> $GITHUB_ENV

    - name: Download previous release tag
      uses: actions/download-artifact@v4
      with:
        name: release-tag
        path: ./release-tag
      continue-on-error: true

    - name: Set previous release tag
      id: set_previous_tag
      run: |
        if [ -f ./release-tag/release.txt ]; then
          PREVIOUS_RELEASE=$(cat ./release-tag/release.txt)
          echo "Previous release tag: $PREVIOUS_RELEASE"
        else
          echo "No previous release tag found, assuming this is the first run."
          PREVIOUS_RELEASE=""
        fi
        echo "PREVIOUS_RELEASE=$PREVIOUS_RELEASE" >> $GITHUB_ENV

    - name: Check if new release tag is found
      run: |
        if [ "$release_tag" != "$PREVIOUS_RELEASE" ]; then
          echo "New release found: $release_tag"
          echo "NEW_RELEASE=true" >> $GITHUB_ENV
        else
          echo "No new release."
          echo "NEW_RELEASE=false" >> $GITHUB_ENV
        fi

    - name: Exit if no new release
      run: |
        if [ "$NEW_RELEASE" == "false" ]; then
          echo "No new release found. Exiting."
          exit 0
        fi  

    - name: Save current release tag to file
      run: echo "$release_tag" > ./release.txt

    - name: Upload current release tag for next run
      uses: actions/upload-artifact@v4
      with:
        name: release-tag
        path: ./release.txt

    - name: Clone the repository
      uses: actions/checkout@v4

    - name: Prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -y locales-all git build-essential autoconf cmake libglu1-mesa-dev libgtk-3-dev libdbus-1-dev libwebkit2gtk-4.1-dev desktop-file-utils libegl-mesa0 libnss-mdns
        sudo apt-get install -y libglx-mesa0 libglx0 libxcb-dri2-0 libxcb-dri3-0 libxcb-glx0 libxcb-present0 libxcb-sync1 libxcb-xfixes0 libxshmfence1 libgl1 libdrm2 libgbm1 libvulkan1

    - name: Clone PrusaSlicer repository
      run: |
        git clone --recursive https://github.com/prusa3d/PrusaSlicer.git
        cd PrusaSlicer
        git fetch --tags
        TAG=${{ github.event.inputs.tag }}
        if [ -z "$TAG" ]; then
          TAG=$release_tag
        fi
        git checkout "$TAG"
        CLEAN_TAG=$(echo $TAG | sed -e 's|version_||g')
        echo "VERSION=$CLEAN_TAG" >> $GITHUB_ENV

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ runner.os }}

    - name: Determine dependency hash
      id: dephash
      run: |
        cd PrusaSlicer 
        echo dephash=$(git rev-parse HEAD:deps) >> $GITHUB_OUTPUT

    - name: Cache Dependencies
      id: cache-dependencies
      uses: actions/cache@v4
      with:
        path: PrusaSlicer/deps/build/destdir
        key: dependencycache-${{ runner.os }}-${{ steps.dephash.outputs.dephash }}

    - name: Cache Download Files
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      id: cache-download
      uses: actions/cache@v4
      with:
        path: PrusaSlicer/deps/download
        key: downloadcache-${{ runner.os }}-${{ github.run_id }}
        restore-keys: |
          downloadcache-${{ runner.os }}

    - name: Download GMP
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      run: |
        mkdir -p PrusaSlicer/deps/download/GMP
        test -r PrusaSlicer/deps/download/GMP/gmp-6.2.1.tar.bz2 || curl -o PrusaSlicer/deps/download/GMP/gmp-6.2.1.tar.bz2 https://ftp.gnu.org/gnu/gmp/gmp-6.2.1.tar.bz2

    - name: Build dependencies
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      run: |
        export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
        cd PrusaSlicer/deps
        mkdir -p build
        cd build
        cmake .. -DDEP_WX_GTK3=ON -DDEP_DOWNLOAD_DIR=$(pwd)/../download
        make -j $(nproc)

    - name: Build PrusaSlicer
      run: |
        export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
        mkdir -p PrusaSlicer/build
        cd PrusaSlicer/build
        cmake .. -DSLIC3R_STATIC=1 -DSLIC3R_GTK=3 -DSLIC3R_PCH=OFF -DCMAKE_PREFIX_PATH=$(pwd)/../deps/build/destdir/usr/local -DCMAKE_INSTALL_PREFIX=/usr
        make -j $(nproc)
        sudo make install
        find ../deps/build/destdir/usr/local

    - name: Bundle
      run: sh -ex ./bundle.sh

    - name: Upload to GitHub Releases
      run: |
        gh release delete $VERSION -y || true
        gh release create $VERSION *.AppImage* --title "$VERSION"
